name: CI

on:

  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.8, 3.9]
        os: [ubuntu-latest]
        torch-version: [2.3.0]
        include:
          - torch-version: 2.3.0

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest coverage codecov
    - uses: s-weigand/setup-conda@v1
      with:
        activate-conda: true
    - run: conda --version
    - run: which python
    - name: Run installation.
      run: |
        python -m pip install torch==2.3.0 torchvision torchaudio -f https://download.pytorch.org/whl/cpu/torch_stable.html
        python -m pip install torch-sparse -f https://data.pyg.org/whl/torch-2.3.0+cpu.html
        python -m pip install torch-scatter -f https://data.pyg.org/whl/torch-2.3.0+cpu.html
        python -m pip install torch-geometric
        python -m pip install sphinx sphinx_rtd_theme
        python -m pip install -e .[test]
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test coverage.
      run: |
        pytest
    - name: Run codecov
      if: success()
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        codecov
